body {
    background-color: grey;
}

header, .nav {
    text-align: center;
    border-bottom: 1px solid black;
}


@media all and (min-width: 600px) {
    body {
        background-color: indigo;
    }
}